@model IEnumerable<Cafe.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Menü Ekle</a>
</p>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
               Resim
            </th>
            <th>
                Başlık
            </th>
            <th>
                Açıklama
            </th>
            
            <th>
               Fiyat
            </th>
            <th>
               Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="p-0">
                    <img style="width: 100%; height: 100px;  object-fit: cover; " src="@Html.DisplayFor(modelItem => item.Image)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" >Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        let table = new DataTable('#myTable');
    </script>
}